fastapi>=0.100.0
uvicorn[standard]>=0.22.0
sqlalchemy>=2.0.0
alembic>=1.11.0
psycopg2-binary>=2.9.0
pydantic>=2.0.0
pydantic-settings
email-validator
python-dotenv>=1.0.0
python-jose[cryptography]
python-multipart
imageio-ffmpeg
fastapi-mail
aiofiles
ffmpeg-python
static-ffmpeg
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
resend